.heading {
    color: white;
    font-size: 4em;
}

.heading:hover {
    color: black;
}

.dynamic-bg {
    background-color: yellowgreen;
}

/* Media queries works the same way */
@media (max-width: 1000px) {
    .dynamic-bg{
        background-color: red
    };
}